<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
    <form method="post" action="/userinfo/text.php?type=1&storyid=1" enctype="multipart/form-data">
        音频文件上传：
        <input type="file" name="media" value="" />
        <input type="submit" name="submit" value="submit" />
    </form>
    
    <form method="post" action="/userinfo/text.php?type=2&albumid=1" enctype="multipart/form-data">
    图片文件上传：
        <input type="file" name="content" value="" />
        <input type="submit" name="submit" value="submit" />
    </form>
    <form method="post" action="/userinfo/text.php?type=3" enctype="multipart/form-data">
    图片文件上传：
        <input type="file" name="content" value="" />
        <input type="submit" name="submit" value="submit" />
    </form>
</body>
</html>